<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:allowBackup="false"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">

    <activity
        android:name="com.srikanth.glasscaptions.ui.TranscriptActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service
        android:name="com.srikanth.glasscaptions.svc.ContinuousSttService"
        android:exported="false" />
  </application>
</manifest>
